.bg {
  background: rgb(0,0,77);
  background: linear-gradient(180deg, rgba(0,0,77,1) 11%, rgba(0,26,255,1) 44%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  }